body {
    background-image: url('https://th.bing.com/th/id/R.0eab0a89059b3b5f0d0b70519c9f0ada?rik=31VoWBXY6Iyc8g&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* No repite la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    padding: 20px; /* Añadir un poco de relleno para móviles */
    box-sizing: border-box; /* Asegurar que el relleno no cause overflow */
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    max-width: 600px; /* Ancho máximo del contenedor */
    width: 90%; /* Ancho responsivo */
    margin: 20px; /* Margen alrededor del contenedor */
}

.photo {
    width: 100%;
    height: auto;
    max-width: 500px; /* Ancho máximo de la imagen */
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.photo:hover {
    transform: scale(1.05); /* Efecto al pasar el ratón */
}

.next-button {
    display: inline-block; /* Para centrar el botón correctamente */
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(45deg, #ff0066, #ff66cc);
    text-decoration: none; /* Sin subrayado */
    border-radius: 8px;
    transition: Inicio 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 5px 15px rgba(255, 0, 102, 0.4);
}

.next-button:hover {
    background: linear-gradient(45deg, #ff66cc, #ff0066);
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(255, 0, 102, 0.6);
}
